<div class="overflow-x-auto flex flex-col items-center">
    <div class="text-4xl  py-4">Posts For: <span class="text-gray-500  text-4xl">{{class}}</span></div>
    <div class="rounded-2xl w-[80%] overflow-hidden">
      <div class="w-full">
        <div class="flex justify-between  py-3 px-6 bg-gray-200 border-b border-gray-300 text-sm">
          <div class="w-1/4 text-left  text-xl">Rank</div>
          <div class="w-3/4 text-left pl-6  text-xl">Link</div>
        </div>
        <div class="divide-y divide-gray-300">
          <div class="flex items-center justify-between py-2 px-6 hover:bg-gray-100 cursor-pointer">
            <div class="flex items-center w-1/4">
              <div class="flex items-center justify-center  text-xl">
                <p style="margin-right: 24px;">1.</p>
              </div>
            </div>
            <div class="text-left pl-6 w-3/4">
              <div class="flex items-center justify-start">
                <p class=" text-lg text-xl"><a href="https://groupme.com/CHOSEN_CLASS" class="text-blue-500 hover:underline  text-xl">https://groupme.com/CHOSEN_CLASS</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  